<div>
 <div class="comment-title"><%= "|" * @nest %> <%= h(@title) %></div>
 <div class="comment-info">
  <%= h(@time.strftime("%Y年%m月%d日 %H時%M分")) %>
  | <%= h(@user) %>
  | <%= h(@score) %>
 </div>
 <div class="comment-body"><%= @body %></div>
 <%- if @children -%>
 <blockquote>
  <%= @children %>
 </blockquote>
 <%- end -%>
</div>
