<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= h(@title) %></title>
  <style type="text/css">
   h1 { margin-top: 0em; margin-bottom: 0em; }
   p { margin-top: 0em; margin-bottom: 1em; text-indent: 1em; }
   #meta { font-size: xx-small; text-align: right; }
   #body { }
   .comment-title { margin-top: 0.5em; font-size: medium; font-weight: bold; }
   .comment-info { font-size: x-small; }
   .comment-body { font-size: small; }
  </style>
 </head>
 <body>
  <h1><%= h(@title) %></h1>
  <div id="meta">
   <div><%= h(@editor) %>による<%= h(@department) %></div>
   <div>
    <%= h(@published_time.strftime("%Y年%m月%d日%H時%M分")) %>
    | <a href="<%= h(@url) %>">原文へ</a>
   </div>
  </div>
  <hr/>
  <div id="body">
   <%= @body %>
  </div>
  <hr/>
  <div id="comments">
   <%= @comments %>
  </div>
  <hr/>
 </body>
</html>
